body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                               supported by Chrome and Opera */
}

#header {
  background-color: #e4dacb !important;
  color: black !important;
  display: inline-flex;
}

#header .logo {
  /* position: absolute !important;
  top: 3vh !important;
  left: 2vw !important; */
}

.logo span {
  color: #e0a404;
}

.logo-wrapper {
  width: 30vw !important;
  padding-left: 2vw;
}

#logo {
  height: auto;
  width: 110px;
}

@media only screen and (max-width: 992px) {
  .logo-wrapper {
    width: 60vw !important;
    padding-left: 2vw;
  }
  #logo {
    height: auto;
    width: 80px;
  }
}

@media only screen and (max-width: 992px) {
  .logo-wrapper {
    width: 60vw !important;
    padding-left: 2vw;
    padding-top: 1vh;
  }
}

/* #logo-text {
  float: left !important;
} */

.nav-menu li {
  text-align: center;
  padding-right: 1vw !important;
  padding-left: 1vw !important;
}

.nav-menu .selected {
  background-color: #e0a404;
}

.selected a {
  color: white !important;
}

.search-section {
  background-color: #e4dacb;
  height: auto;
  padding-top: 3vh;
}

.search-buttons {
  /* padding-left: 25vw; */
  /* padding-right: 20vw; */
  /* background-color: red; */
  justify-content: center;
  display: flex;
}

.search-buttons div {
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #f7f4f1;
  cursor: pointer;
}

.search-box {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: auto;
}

#search-input {
  width: 92vw;

  padding-left: 1vw;
  font-size: 1.5rem;
}

.search-box div {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 1vw;
  background-color: white;
}

.search-box i {
  font-size: 2vh;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 2vh;
  margin-bottom: 10vh;
  margin-left: 48vw;
  animation: spin 2s linear infinite;
}

#result-text {
  width: 100vw;
  margin-top: 2vh;
  margin-left: 2vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  /* justify-content: center; */
}

.card {
  margin-top: 3vh;
  list-style: none;
  flex: 0 0 33.333333%;
  border: 0 !important;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .card {
    margin-top: 3vh;
    list-style: none;
    flex: 0 0 100%;
    border: 0 !important;
    cursor: pointer;
  }

  .image-info h3 {
    font-size: 2.5vmin !important;
  }

  .image-info h4 {
    font-size: 2vmin !important;
  }

  .card-info-wrapper .image-info {
    flex: 0 0 82% !important;
    padding-left: 5vw !important;
  }

  .options i {
    font-size: 2.5vw !important;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
  }
}

.number-0 {
  /* background-color: yellow; */
}

.number-1 {
  /* background-color: red; */
}

.number-2 {
  /* background-color: green; */
}

.card-img-wrapper {
  justify-content: center;
}

.card-img-wrapper img {
  height: 35vh;
  max-width: 90%;
  max-height: 100%;
  min-width: 90%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url("https://www.nicopress.com/media/images/800/0/404-not-found.png");
}

.card-info-wrapper {
  display: inline-flex;
  padding-top: 1vh;
}

.card-info-wrapper .image-info {
  flex: 0 0 75%;
  padding-left: 2vw;
}

.image-info h3 {
  font-size: 2vmin;
}

.image-info h4 {
  font-size: 1.5vmin;
}

.card-info-wrapper .options {
  background-color: #e0a404;
  border-radius: 18px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: fit-content;
  width: fit-content;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.options i {
  font-size: 1vw;
  color: black;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

/* style='' */

.footer-pagination {
  /* justify-content: center; */
}

#pagination {
  margin-top: 5vh;
  margin-bottom: 8vh;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
