body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                               supported by Chrome and Opera */
}

#header {
  background-color: #e4dacb !important;
  color: black !important;
  display: inline-flex;
  width: 100vw !important;
}

#header .logo {
  /* position: absolute !important;
  top: 3vh !important;
  left: 2vw !important; */
}

.logo span {
  color: #e0a404;
}

#logo {
  height: auto;
  width: 110px;
}

.logo-wrapper {
  width: 30vw !important;
  padding-left: 2vw;
}

@media only screen and (max-width: 992px) {
  .logo-wrapper {
    width: 60vw !important;
    padding-left: 2vw;
  }
  #logo {
    height: auto;
    width: 80px;
  }
}

/* #logo-text {
  float: left !important;
} */

.nav-menu li {
  text-align: center;
  padding-right: 1vw !important;
  padding-left: 1vw !important;
}

.nav-menu .selected {
  background-color: #e0a404;
}

.selected a {
  color: white !important;
}

.scene {
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 3vh;
  display: flex;
}

#scene-image {
  height: 75vh;
  padding-bottom: 2vh;
  padding-right: 0.5vw;
  flex: 0 0 60%;
}

#product-info {
  height: 75vh;
  flex: 0 0 40%;
  padding-left: 0.5vw;
}

@media only screen and (max-width: 1050px) {
  .scene {
    margin-top: 10vh !important;
  }
  #header {
    position: fixed !important;
    top: 0 !important;
  }
  #scene-image {
    flex: 0 0 100% !important;
    height: auto !important;
  }

  #product-info {
    flex: 0 0 100% !important;
    height: auto !important;
    margin-bottom: 5vh !important;
  }
}

@media only screen and (max-height: 600px) {
  #scene-image {
    height: auto !important;
  }

  #product-info {
    height: auto !important;
  }
}

.scene img {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.like-share-btns button {
  height: auto;
  width: auto;
  font-size: 1vw;
  border-radius: 5px;
}

.like-share-btns i {
  margin-right: 0.5vw;
}

#like-btn-scene {
  background: #e0a404;
}

#share-btn-scene {
  background: #e4dacb;
}

.product-description {
  background: #e4dacb;
  margin-top: 2vh;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 0.5vh;
}

@media only screen and (max-width: 1050px) {
  p {
    font-size: 1.5vw !important;
  }

  h5 {
    font-size: 1.6vw !important;
  }

  h4 {
    font-size: 1.8vw !important;
  }

  h3 {
    font-size: 2vw !important;
  }

  .like-share-btns {
    text-align: center !important;
    margin-top: 3vh !important;
  }

  .like-share-btns button {
    height: auto !important;
    width: auto !important;
    font-size: 2vw;
    border-radius: 5px;
  }

  .similar-products {
    display: none !important;
  }

  .product-specs {
    margin-bottom: 2vh;
  }
}

.product-specs {
  margin-top: 2vh;
  background: #e4dacb;
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  text-align: center;
}

.product-specs-row {
  display: flex;
}

.product-specs-row div {
  text-align: center;
  flex: 0 0 25%;
}

p {
  font-size: 0.8vw;
}

h5 {
  font-size: 0.9vw;
}

h4 {
  font-size: 1vw;
}

h3 {
  font-size: 1.2vw;
}

/* 767/ */
.image-row img {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

.image-row {
  height: auto;
}

.search-box-scene {
  display: flex;
  height: auto;
  position: fixed;
  bottom: 3vh;
  margin-left: 2vw;
}

#search-input-scene {
  width: 92vw;
  background-color: #e4dacb;
  padding-left: 1vw;
  font-size: 1.5rem;
  border-width: 1px;
  border-color: white;
}

.search-box-scene div {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 1vw;
  background-color: #e4dacb;
}

.search-box-scene i {
  font-size: 2vh;
}
